In [8]:
import pandas as pd
data=[['A',4000],['B',-7000],['C',8000],['D',9000]]
df=pd.DataFrame(data,columns=['cname','profit'])
print(df)
print("\nAFTER MODIFICATION\n")
df['profit'] = df['profit'].apply(lambda x:x>0)
df

  cname  profit
0     A    4000
1     B   -7000
2     C    8000
3     D    9000

AFTER MODIFICATION

  cname  profit
0     A    True
1     B   False
2     C    True
3     D    True