In [1]:
import pandas as pd
data=[['aish',40],['ravi',45],['manu',35],['beena',51]]
df=pd.DataFrame(data,columns=['name','mark'])
print(df)
print("first two rows")
df1=df.head(2)
print(df1)

    name  mark
0   aish    40
1   ravi    45
2   manu    35
3  beena    51
first two rows
   name  mark
0  aish    40
1  ravi    45