In [10]:
import pandas as pd

l1=[[1,'Arun',10000],[2,'Abhi',15000],[3,'Sidhi',7000]]
df=pd.DataFrame(l1,columns=['eid','ename','stipend'])
print("\nDATAFRAME 1\n")
print(df)

l2=[[1,'Teacher'],[2,'HOD'],[3,'Librarian']]
df1=pd.DataFrame(l2,columns=['eid','designation'])
print("\nDATAFRAME 2\n")
print(df1)

l3 = pd.merge(df, df1, how = 'inner', on = 'eid') 
l3.rename(columns={'designation':'position'}, inplace = True)
print("\nMERGED DATAFRAME ")
l3

DATAFRAME 1

   eid  ename  stipend
0    1   Arun    10000
1    2   Abhi    15000
2    3  Sidhi     7000

DATAFRAME 2

   eid designation
0    1     Teacher
1    2         HOD
2    3   Librarian

MERGED DATAFRAME

   eid  ename  stipend   position
0    1   Arun    10000    Teacher
1    2   Abhi    15000        HOD
2    3  Sidhi     7000  Librarian